<h1 class="text-center"><%= @topic %></h1>
	<% @topics.each do |topic| %>
  		<p><%= link_to "#{topic.title}", topic_path(topic) %></p>
	<% end %>
  	<% if current_user %>
  		<%= link_to "Create Bookmark", new_bookmark_path(:topic_id), class: 'btn btn-primary btn-large' %>
  	<% end %>
